site_name: Andrew LeCody
site_url: https://andrew.lecody.com/
site_author: Andrew LeCody
site_description: This is my personal website, so all opinions are my own. I made it to better document some of the helpful information I've compiled about a wide variety of topics, but also to show off some of the projects I've done that I think are neat.
repo_url: https://github.com/aceat64/website
repo_name: aceat64/website
edit_uri: edit/main/content
docs_dir: content
nav:
  - About: index.md
  - Guides:
      - guides/macos-setup.md
      - guides/terminal-and-shell-setup.md
      - guides/nginx-proxy-manager-udmp.md
      - guides/rpi-k8s-talos-terraform.md
      - guides/mkdocs-material-insider-github-pages-action.md
      - guides/http-status-codes.md
      - guides/zfs-notes.md
      - guides/ipv6.md
  - Smart Home:
      - smart-home/architecture.md
      - smart-home/garage-door.md
      - smart-home/switches.md
  - Projects:
      - projects/400amp-upgrade.md
      - projects/battery-backup.md
  - Literary:
      - literary/recommended-reading.md
extra:
  status:
    new: Recently added
    deprecated: This content is old/outdated and will be removed in the near future.
  social:
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/andrewlecody.bsky.social
    - icon: fontawesome/brands/mastodon
      link: https://social.treehouse.systems/@andrewlecody
    - icon: fontawesome/brands/github
      link: https://github.com/aceat64
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/andrew-lecody
copyright: This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
plugins:
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
      locale: en_US
  - typeset
  - meta
  - search
  - social:
      cards_layout: default/variant
  - optimize
  - minify:
      minify_html: true
  - privacy:
      links_attr_map:
        target: _blank
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  icon:
    logo: material/wifi-strength-alert-outline
  custom_dir: content/overrides
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.prune
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - content.code.copy
    - content.code.select
    - content.action.edit
    - content.action.view
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
extra_css:
  - stylesheets/extra.css
