/* If it's stupid and it works... */
#how-many-64s + .md-typeset__scrollwrap > .md-typeset__table > table:nth-child(1) > tbody:nth-child(2) {
  tr:nth-child(1) {
    background-color: #448aff1a;
    td {
      font-weight: bold;
    }
  }

  tr:nth-child(5) {
    background-color: #00b8d41a;
    td {
      font-weight: bold;
    }
  }

  tr:nth-child(9) {
    background-color: #00bfa51a;
    td {
      font-weight: bold;
    }
  }

  tr:nth-child(13) {
    background-color: #64dd171a;
    td {
      font-weight: bold;
    }
  }

  tr:nth-child(17) {
    background-color: #ff91001a;
    td {
      font-weight: bold;
    }
  }
}
